body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #858585;
}

footer {
  border-top: 1px solid #DCE0E0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  margin: 50px auto;
}

.top-row {
  overflow: hidden;
  margin-bottom: 30px;
}

.bottom-row {
  clear: both;
  border-top: 1px solid #DCE0E0;
  overflow: hidden;
}

.copyright {
  color: #767676;
  line-height: 22px;
  font-size: 15px;
  float: left;
}

.links{
  float: right;
}

.links li{
  margin-left: 10px;
  display: inline-block;
}

.dropdown select{
  color: #767676;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #DCE0E0;
  border-radius: 2px;
  -webkit-appearance: none; /*there is no arrow when none*/
  -moz-appearance: none; /*there is no arrow when none*/
  margin-bottom: 10px;
  background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQSMX86PE-vK2GKPhzXTFCOXjxv70iq6qJsFsM2gBX08UlX5gky2i_m6pY") no-repeat right 10px top 13px;
  background-size: 20px; /* to resize the original background */
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #858585;
}

li {
  line-height: 20px;
  font-size: 14px;
}

li:hover {
  text-decoration: underline;
}

h3 {
  color: #000;
  line-height: 18px;
  font-size: 15px;
  margin: 0 0 15px 0;
}

@media all and ( min-width: 0px ){

   .col-1-4 {
    float: left;
    display: none;
  }

  .col-1-4:first-child {
    display: inline-block;
    width: 100%;
  }

  .footer-container {
    width: 90%;
  }

  .first-column {
    width: 100%;
    display: flex;
  }

  .dropdown {
    flex: 1;
  }

  .dropdown:first-child {
    margin-right: 5px;
  }

  .dropdown:last-child {
    margin-left: 5px;
  }

  .links li:nth-child(3) {
    display: none;
  }
}

@media all and ( min-width: 746px ) {

  .col-1-4 {
    float: left;
    width: 25%;
    display: inline-block;
  }

  .col-1-4:first-child {
    width: 25%;
  }

  .footer-container {
    width: 720px;
  }

  .column {
    margin-left: 0;
    width: 106px;
  }

  .first-column {
    margin-left: 0;
    width: 100px;
    display: block;
  }

  .dropdown:first-child, .dropdown:last-child {
    display: block;
    width: 100%;
    margin: 0;
  }

  .links li:nth-child(3) {
    display: inline-block;
  }
}

@media all and ( min-width: 1128px ) {

  .footer-container {
    width: 1100px;
  }

  .column {
    margin-left: 0;
    width: 170px;
  }

  .first-column {
    margin-left: 0;
    width: 164px;
  }
}

/* TO DO:
- select background png to be over the text;
- IE still shows custom select arrow with no defined background, MOZ and Chrome are ok;
- some padding / margin of the content in bottam-row;
*/
