@mixin atSmall {
  @media all and ( max-width: 744px ) {
    @content;
  }
}

@mixin atMedium {
  @media all and ( min-width: 745px ) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
