.row {
  @include clearfix();

  &--t-border {
    border-top: 1px solid $lightGray;
  }

  &--padding {
    padding: 50px 0;

    @include atSmall{
      padding: 25px 0;
    }
  }

  &--padding-small {
    padding-top: 25px;
    padding-bottom: 50px;

    @include atSmall{
      padding-top: 15px;
      padding-bottom: 25px;
    }
  }

  &--gutters {
    margin-right: -9%;
  }

  &--gutters-small {
    margin-right: -17px;
  }

  &--gutters > div {
    padding-right: 9%;
  }

  &--gutters-small > div {
    padding-right: 17px;
  }

  @include atSmall {
    &__small-6 {
      float: left;
      width: 50%;
    }

    &__small-12 {
      float: left;
      width: 100%;
    }
  }

  @include atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-1 {
      float: left;
      width: 8.33%;
    }

    &__medium-2 {
      float: left;
      width: 16.67%;
    }
    &__medium-3 {
      float: left;
      width: 25%;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.67%;
    }

    &__medium-12 {
      float: left;
      width: 100%;
    }

    &__medium-offset-1-left {
      padding-left: 8.33%;
    }
  }
}
